.gifts-container {
    padding: 20px;
    text-align: center;
}

.title-gifts {
    font-size: 24px;
    font-weight: 590;
    line-height: 32px;
    letter-spacing: -0.4300000071525574px;
    text-align: center;
    margin-top: 0;
}

.description-gifts {
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4300000071525574px;
    text-align: center;
    color: #8E8E93;
    margin: 0;
}

.description-gifts1 {
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4300000071525574px;
    text-align: center;
    color: #8E8E93;
    margin: 0;
}

.no-gifts {
    margin-top: 20px;
    text-align: center;
}

.balloons-image {
    width: 50px; /* Adjust size as needed */
    height: auto;
}

.no-gifts-text {
    font-size: 16px;
    color: #000;
    margin: 10px 0;
}

.open-store-link {
    font-size: 16px;
    color: #007BFF;
    text-decoration: none;
}

.open-store-link:hover {
    text-decoration: underline;
}
