/* src/Gifts.css */
.gifts-container {
    padding: 20px;
    text-align: center;
}

.title-gifts {
    font-size: 24px;
    font-weight: 590;
    line-height: 32px;
    letter-spacing: -0.4300000071525574px;
    text-align: center;
    margin-top: 0;
}

.description-gifts {
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4300000071525574px;
    text-align: center;
    color: #8E8E93;
    margin: 0;
}

.description-gifts1 {
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4300000071525574px;
    text-align: center;
    color: #8E8E93;
    margin: 0;
}